@charset "UTF-8";

:root {
    --cor001: #0a0a0a;
    --cor002: #2c2d2d;
    --cor003: #f5332c;
    --cor004: #ccc889;
}

/*Typical Device Breakpoints
------------------------------
Pequenas telas: 0px até 600px
Celulares: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: 1200px
*/

@media screen and (min-width:768px) and (max-width:992px) {
    main {
        width: 700px;
    }

    section > h2 {
        text-align: center;
        padding-bottom: 10px;
    }

    section > p {
        text-align: justify;
        margin-bottom: 20px;
        text-indent: 10px;
        line-height: 1.5;
    }

    section > img {
        padding-bottom: 20px;
    }

    img#phone{display: none; margin: auto;}
    img#pc{display: none; margin: auto;}
    img#print{display:none; margin: auto;}
    img#tablet{display: block; margin: auto;}
    img#tv{display: none; margin: auto;}
}

@media screen and (min-width:992px) and (max-width:1200px) {

    main {
        width: 750px;
    }

    .section-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        min-height: 50vh;
        gap: 40px;
        padding: 40px;
    }

    span#mobile-menu  {
        display: none;
    }

    menu {
        display: block;
        background-color: var(--cor001);
    }

    header > h1 {
        padding: 30px;
    }

    menu > ul > li {
        display: inline-block;
        padding-bottom: 5px;
    }

    menu > ul > li > a {
        border: none;
        transition: all 0.5s ease;
    }

    menu > ul > li > a:hover {
        border-radius: 10px;
    }

    section > h2 {
        text-align: center;
        padding-bottom: 10px;
        font-size: 2.4em;
    }

    section > p {
        text-align: justify;
        margin-bottom: 20px;
        text-indent: 10px;
        line-height: 1.5;
        font-size: 1em;
    }

    .section-flex > h2 {
        text-align: left;
        font-size: 2.5em;
    }

    .section-flex > p {
        font-size: 1em;
    }

    img#phone{display: none; margin: auto;}
    img#pc{display: block; margin: auto;}
    img#print{display:none; margin: auto;}
    img#tablet{display: none; margin: auto;}
    img#tv{display: none; margin: auto;}
}

@media screen and (min-width:1200px) {

    .section-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        min-height: 50vh;
        gap: 5em;
        padding: 0px 0px 0px 0px;
    }

    section > h2 {
        text-align: center;
        padding-bottom: 10px;
        font-size: 2.4em;
    }

    section > p {
        text-align: justify;
        margin-bottom: 20px;
        text-indent: 10px;
        line-height: 1.5;
        font-size: 1em;
    }

    section > img {
        padding-bottom: 10px;
    }


    .section-flex > h2 {
        font-size: 2.1em;
        text-align: left;
    }

    .section-flex > p {
        font-size: 1em;
    }

    main {
        width: 50vw;
    }

    span#mobile-menu  {
        display: none;
    }

    menu {
        display: block;
        background-color: var(--cor001);
    }

    header > h1 {
        padding: 30px;
    }

    menu > ul > li {
        display: inline-block;
        padding-bottom: 5px;
    }

    menu > ul > li > a {
        border: none;
        transition: all 0.5s ease;
    }

    menu > ul > li > a:hover {
        border-radius: 10px;
    }
    
    img#phone{display: none; margin: auto;}
    img#pc{display: none; margin: auto;}
    img#print{display:none; margin: auto;}
    img#tablet{display: none; margin: auto;}
    img#tv{display: block; margin: auto;}
}
